/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Shared CSS for the cross-platform aspects of the folder summary page */

@import url("chrome://messenger/skin/variables.css");

:root {
  --body-background-color: Field;
  --body-text-color: FieldText;
  --info-text-color: GrayText;
  --widget-heading-color: -moz-nativehyperlinktext;

  /* These should probably be OS-specific... */
  --header-background-color: AppWorkspace;
  --header-text-color: WindowText;

  background-color: var(--body-background-color);
  color: var(--body-text-color);
  appearance: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: #2a2a2e;
    --body-text-color: rgb(249, 249, 250);
    --info-text-color: #b1b1b3;

    --header-background-color: #323234;
    --header-text-color: var(--body-text-color);
    --splitter-color: #606064;
  }
}

body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

/* The heading area */

#heading_wrapper {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  align-items: center;
  color: var(--header-text-color);
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--splitter-color);
}

#heading {
  flex-grow: 1;
  margin: 0;
  padding: 9px 6px;
  font-size: large;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

#folderName {
  white-space: nowrap;
}

#messageCount {
  white-space: nowrap;
  margin-inline-start: 1em;
  font-size: small;
}

#spark_wrapper {
  flex-shrink: 0;
  --spark-color: color-mix(in srgb, var(--info-text-color) 50%,
                           var(--header-background-color));
  --spark-subset-color: var(--primary);
}

#spark {
  margin: 0.75ex 1ex 0.25ex;
}

/* The main content area */

#content {
  margin: 0px;
  font-size: small;
}

#content .widget {
  padding: calc(16px + 0.5em);
  border: 1px solid transparent;
}

#content .widget h2 {
  color: var(--widget-heading-color);
  margin: 0 0 1ex;
  font-size: medium;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding-bottom: 0.5em;
}

.cropped {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: -moz-min-content;
  max-width: -moz-available;
}

.left_right {
  display: flex;
}

.lr_wide {
  flex-grow: 1;
  overflow: hidden;
}

.lr_narrow {
  flex-shrink: 0;
  white-space: nowrap;
}

.message_count {
  color: var(--info-text-color);
}

/* The multi-row content area, classic-style */

#content:not(.vertical) {
  display: flex;
}

#content:not(.vertical) > section {
  flex: 1;
  overflow: hidden;
}

#content:not(.vertical) > section:first-child {
  flex: 2;
  overflow: hidden;
}

#content:not(.vertical) > section:first-child {
  display: flex;
}

#content:not(.vertical) > section:first-child > * {
  flex: 1;
  overflow: hidden;
}

#content:not(.vertical) > section:first-child > *,
#content:not(.vertical) > section:last-child > *:last-child {
  padding-bottom: 0;
}

/* The multi-row content area, vertical-style */

#content.vertical {
  display: block;
}

#content.vertical > section {
  display: flex;
}

#content.vertical > section > * {
  flex: 1;
  overflow: hidden;
}

#content:not(.vertical) > section > *:last-child {
  padding-bottom: 0;
}

/* Recent messages */

.message_author,
.message_recipient {
  color: var(--info-text-color);
}

.message_subject:hover {
  text-decoration: underline;
  cursor: pointer;
}

.unread .message_subject {
  font-weight: bold;
}

.star {
  float: left;
}

body[dir="rtl"] .star {
  float: right;
}

/* Top Correspondents */

.correspondent_name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.correspondent_email {
  color: var(--info-text-color);
}

/* Top Threads */

.thread_subject:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Tag Dots */

.tag_dots {
  overflow: hidden;
}

/* Overflow note */

#overflow {
  text-align: center;
  opacity: 0.65;
}

.centered {
  position: fixed;
  width: 100%;
  top: 2em;
  bottom: 0;
  height: 1em; /* TODO: hack! */
  margin: auto;
  text-align: center;
}

/* Folder alert */

.alert {
  border-radius: 10px;
  box-shadow: 0 0 1em rgba(125,125,105,.2);

  font-size: medium;
  text-align: center;
  opacity: 0.65;

  background-color: rgba(125,125,105,.1);
  padding: 2.5em;
}

/* Loading throbber */

#loading_box {
  padding: 1em;
  color: ButtonText;
  background-color: ButtonFace;
  border: 1px solid ThreeDShadow;
  border-radius: 3px;
}

#spinner {
  margin-inline-end: 1ex;
  vertical-align: middle;
}
